/*---------- Body ------------------*/
*{
  border-top: 1px solid red
  box-sizing: border-box;
}

body{

}

/*---------- Header ----------------*/
header{

}

/*---------- Aritcle ---------------*/
article{

}

.container{
  border: 1px dashed;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

/*---------- Aside -----------------*/
aside{

}

/*---------- Footer ----------------*/
footer{

}

/*---------- Media Queries ---------*/

/*---- Large Tablet/Small Comp -----*/
@media screen and (max-width: 1024px){

}

/*---- Typical Tablet Size ---------*/
@media screen and (max-width: 768px){

}

/*---- Large Phones ----------------*/
@media screen and (max-width: 440px){

}

/*---- Small Screens ---------------*/
@media screen and (max-width: 320px){

}
