/*---------- Body ------------------*/
*{
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-rows: 100px auto 200px;
  background-color: darkslategray;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}

/*---------- Header ----------------*/
header{
 background-color: aqua;
 grid-row: 1;
}

/*---------- Aritcle ---------------*/
article{
  grid-row: 2;
  background-color: cornflowerblue;
}

img{
  width: 200px;
  margin: auto;
}

section{
 width: 200px;
 padding: 20px; 
 margin: auto;
}

h2{
  text-align: center;
}

/*---------- Footer ----------------*/
footer{
background-color: darkslategrey;
grid-row: auto;
}

/*---------- Media Queries ---------*/

/*---- Large Tablet/Small Comp -----*/
@media screen and (max-width: 1024px){

}

/*---- Typical Tablet Size ---------*/
@media screen and (max-width: 768px){

}

/*---- Large Phones ----------------*/
@media screen and (max-width: 440px){

}

/*---- Small Screens ---------------*/
@media screen and (max-width: 320px){

}
